body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15vh 15vh 70vh 15vh;
    gap: 5px;
}

.loga{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;

    border: 2px solid black;
    border-radius: 3px;
}
.bild{
    max-height: 100%;
}

header{
    grid-area: 1/2/2/3;
}

nav{
    grid-area: 2/2/3/3;
}

aside{
    grid-area: 2/1/5/2;
    display: flex;
    justify-content: center;
    background-image: url(./img/background.jpg);

    border: 2px solid black;
    border-radius: 3px;
}

main{
    grid-area: 2/2/4/3;
}